<!-- メインコンテンツ -->
<div class="account">
  <div class="account_box">
    <div class="logout">
        <p class = 'white_text'><a href="logout.php"  class = 'white_link'>ログアウトする <i class="fa-solid fa-person-walking-arrow-right"></i></a></p>
    </div>
  </div>
</div>
  <!-- /メインコンテンツ -->
