<!-- メインコンテンツ -->
<div class="account">
  <div class="account_box">
    <form action="login.php" method="POST" class="login-form">
      <h1 class='form_tittle' >ログイン</h1>
      <p class="form-label" for="signin-id">メールアドレス</p>
      <input id="signin-id" name="email" type="email" placeholder="メールアドレスを入力">
      <br>
      <p class="form-label" for="signin-pass">パスワード</p>
      <input id="signin-pass" name="pass" type="password" placeholder="パスワードを入力">
      <br>
      <button name="login" type="submit" class="login_button">ログインする</button>
    </form>
  </div>
</div>
  <!-- /メインコンテンツ -->