/* リセットスタイル */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    margin: 0; /* ブラウザのデフォルトのmarginを削除 */
    padding: 0; /* ブラウザのデフォルトのpaddingを削除 */
    background-image: url('material/space.webp'); /* 画像のファイルパスを指定 */
    background-size: cover; /* 画像をカバーするように調整 */
    background-position: center; /* 画像を中央に配置 */
    background-repeat: no-repeat; /* 画像の繰り返しを無効にする */
    height: 100vh; /* 画面の高さいっぱいに広げる */
    background-attachment: fixed; /* 背景画像を固定する */
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto; /* ページを中央に寄せる */
    color: white;
}

.add_shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* 影の設定 */
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.logo {
    display: flex; 
    justify-content: space-between; 
    padding: 2% 0%;
}

.logo_image{
  flex: 3; 
}

.logo_image a:hover img {
    transform: scale(1.1); /* ホバー時に画像を拡大 */
    transition: transform 0.3s ease-in-out; /* ホバー時のトランジションを追加 */
  }

.username {
    flex: 2; 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: center; 
    font-size: 20px; 
    padding-bottom: 10px; 
    color: white; 
    font-weight: bold;"
}

#mainNav {
    background: linear-gradient(to bottom, #4fc2f796, #2195f3c5); /* 垂直方向の水色のグラデーション */
    margin: 0 auto; /* メニューバーを水平方向に中央寄せ */
    height: 50px;
    display: flex; /* 水平方向に flex コンテナにする */
    align-items: center; /* 垂直方向に中央寄せ */
}

#mainNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; /* 垂直方向に中央寄せ */
    width: 100%; /* 親要素に対して子要素を100%で広げる */
}

#mainNav li {
    display: inline;
    flex: 1; /* ボタンを均等に広げる */
}

#mainNav a {
    text-decoration: none;
    color: #fff;
    font-size:large;
    padding: 5px 10px;
    display: block;
    text-align: center; /* テキストを中央寄せ */
}

#mainNav a:hover {
    background-color: #6149ce;
    margin: 0 10%;
}

#mainNav li:not(:last-child) {
    border-right: 1px solid #fff; /* メニュー同士の仕切り線 */
}

.nav-icon{
  width: 15%;
  vertical-align: middle;
}

.conte {
  width: 100%;
  display: flex;
  flex-direction: column; /* 子要素を縦に配置 */
  align-items: center; /* 子要素を中央に配置 */
}

.top_image {
  position: relative;
  background-image: url('material/top_image.webp');
  width: 90%;
  height: 80vh; /* 画面の高さに対する割合で指定 (viewport height) */
  margin: 0px auto; /* 適切なマージンを設定 */
  margin-bottom: 5%;
  overflow: hidden;
  background-size: cover; /* 画像を親要素にカバーするように調整 */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像の繰り返しを無効にする */
  animation: fadeIn 2s ease; /* フェードインのアニメーションを追加 */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1; /* 最終的に不透明にする */
  }
}

.top_image2 {
  background-image: url('material/top2_image.webp');
  width: 90%;
  height: 80vh; /* 画面の高さに対する割合で指定 (viewport height) */
  margin: 0 auto; /* 適切なマージンを設定 */
  overflow: hidden;
  background-size: cover; /* 画像を親要素にカバーするように調整 */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像の繰り返しを無効にする */
  transform: translateX(-100%);
  opacity: 0;
  animation: slideInLeftAndFade 3s ease-in-out forwards;
  animation-timeline: view();
}

@keyframes slideInLeftAndFade {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.top_image3 {
  background-image: url('material/top3_image.webp');
  width: 90%;
  height: 80vh; /* 画面の高さに対する割合で指定 (viewport height) */
  margin: 0 auto; /* 適切なマージンを設定 */
  overflow: hidden;
  background-size: cover; /* 画像を親要素にカバーするように調整 */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像の繰り返しを無効にする */
  opacity: 0; /* 初期状態で透明にする */
  animation: slideInRightAndFade 3s ease-in-out forwards;
  animation-timeline: view();
}

.top_image4 {
  background-image: url('material/top4_image.webp');
  width: 90%;
  height: 80vh; /* 画面の高さに対する割合で指定 (viewport height) */
  margin: 0 auto; /* 適切なマージンを設定 */
  overflow: hidden;
  background-size: cover; /* 画像を親要素にカバーするように調整 */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像の繰り返しを無効にする */
  opacity: 0; /* 初期状態で透明にする */
  animation: slideInLeftAndFade 3s ease-in-out forwards;
  animation-timeline: view();
}


.top_image5 {
  background-image: url('material/top5_image.webp');
  width: 90%;
  height: 80vh; /* 画面の高さに対する割合で指定 (viewport height) */
  margin: 0 auto; /* 適切なマージンを設定 */
  overflow: hidden;
  background-size: cover; /* 画像を親要素にカバーするように調整 */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像の繰り返しを無効にする */
  opacity: 0; /* 初期状態で透明にする */
  animation: slideInRightAndFade 3s ease-in-out forwards;
  animation-timeline: view();
}

@keyframes slideInRightAndFade {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

  .text-overlay6_bottom_img{
    cursor: pointer;
  }

.top_conte {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.text-overlay0 {
  color:gold;
  text-align:start;
  width:50%;
  margin: 10% 0 0 2% ;
  font-size: xx-large; /* テキストの大きさをxx-largeに設定 */
  font-weight: bold; /* テキストの太さをboldに設定 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.907); /* 文字の輪郭を追加 */
  background: rgba(255, 255, 255, 0.812); /* 文字に半透明の背景を追加 */
  padding: 10px; /* 必要に応じて余白を追加 */
  animation: slideInLeft 2s ease-in-out forwards;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* 最終的に左に移動して表示する */
  }
}

.text-overlay1 {
  color:gold;
  text-align:start;
  width:56%;
  margin:10% 0 0 2% ;
  font-size: xx-large; /* テキストの大きさをxx-largeに設定 */
  font-weight: bold; /* テキストの太さをboldに設定 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.907); /* 文字の輪郭を追加 */
  background: rgba(255, 255, 255, 0.812); /* 文字に半透明の背景を追加 */
  padding: 10px; /* 必要に応じて余白を追加 */
  animation: slideInLeft 2s ease-in-out forwards;
}

.introduction {
  color: black;;
  text-align: center;
  width: 56%;
  margin:7% 0 0 2% ;
  font-size: x-large; /* テキストの大きさをxx-largeに設定 */
  font-weight: bold; /* テキストの太さをboldに設定 */
  background: rgba(255, 255, 255, 0.812); /* 文字に半透明の背景を追加 */
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  animation: slideInLeft 2s ease-in-out forwards;
}

.logo-overlay {
  width: 30%; /* 画像の幅を30%に調整 */
}

.QR-overlay {
  width: 50%; /* 画像の幅を30%に調整 */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* 影の設定 */
}

.text-overlay2 {
  width: 53%;
  margin: 32% 10% 0% 44%;
  color:white;
  font-size: x-large; /* テキストの大きさをx-largeに設定 */
  font-weight: bold; /* テキストの太さをboldに設定 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.907); /* 文字の輪郭を追加 */
  background: rgba(0, 0, 0, 0.571); /* 文字に半透明の背景を追加 */
  padding: 10px; /* 必要に応じて余白を追加 */
}



.top-icon {
  width: 7%;
  vertical-align: middle;
  margin: 4px 5px 4px 0px;
}

.text-overlay3 {
  margin: 10% 0 0 47%;
  color:white;
  font-size: x-large;
  font-weight: bold;
  padding: 10px;
  width: 50%;
  height: 38%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.907); /* 文字の輪郭を追加 */
  background: rgba(0, 0, 0, 0.571); /* 文字に半透明の背景を追加 */ 
}

.text-overlay3_bottom {
  display: flex;
  justify-content:center; /* アイテムを均等に配置 */
  align-items: center; /* アイコンを上下中央に配置 */
  width: 100%;
}

.text-overlay3_bottom_img {
  width: 25%;
  height: auto;
  margin: 0 30px;
}


.text-overlay4 {
  color:white;
  font-size: x-large;
  font-weight: bold;
  padding: 10px;
  width: 52%;
  height: 31%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.907); /* 文字の輪郭を追加 */
  background: rgba(0, 0, 0, 0.571); /* 文字に半透明の背景を追加 */
  margin: 2% 0 0 45%;
}

.text-overlay4_bottom_img {
  width: 48%;
  height: auto;
  margin: 0 5px;
}

.z-icon {
  width: 10%;
  vertical-align: middle;
  margin: 4px 6px;
}

.text-overlay5 {
  color:white;
  font-size: x-large;
  font-weight: bold;
  padding: 10px;
  width: 60%;
  height: 40%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.907); /* 文字の輪郭を追加 */
  background: rgba(0, 0, 0, 0.571); /* 文字に半透明の背景を追加 */
  margin: 31% 0 0 37%;
}

@keyframes slideRightImage {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(-750%);
  }
}

.text-overlay5_bottom {
  display: flex;
  overflow-x: auto;
}

.text-overlay5_bottom_img {
  width: 48%;
  height: auto;
  margin: 0 5px;
  animation: slideRightImage 30s linear infinite;
}

.text-overlay6 {
  color:white;
  font-size: x-large;
  font-weight: bold;
  padding: 10px 5px 0px 5px;
  width: 53%;
  height:85%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.907); /* 文字の輪郭を追加 */
  background: rgba(0, 0, 0, 0.571); /* 文字に半透明の背景を追加 */
  margin: 6% 0 0 45%;
}

.text-overlay6_bottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* 画像が折り返されるように設定 */
}

.text-overlay6_bottom_img {
  width: 21%; /* 2列にするために幅を調整 */
  height: auto;
  margin: 10px;
  /* animation: slideRightImage 20s linear infinite; */
}


#footer {
    background-color: #00000095; /* 背景色を黒に設定 */
    padding: 1% 10%; /* 適切なパディングを追加 */
  }

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* 画像を中央に配置 */
  }

  #footer img {
    margin: 0 1%; /* 画像間の余白を設定 */
    transition: transform 0.3s ease-in-out; /* ホバー時のトランジションを追加 */
  }

  #footer img:hover {
    transform: scale(1.2); /* ホバー時に画像を拡大 */
  }

  #sidebar {
    background: linear-gradient(to bottom, #620080a9, #9d15c76b); /* 紫色の垂直方向グラデーション */
    padding: 20px 10px 10px 10px; /* 全方位に10pxのパディングを追加 */
    margin: 20px 10px 10px 0px;
  }

  #sidebar h3 {
    color: white;
    font-size: large;
    text-align: center; /* テキストを中央揃えにする */
    border: 2px solid white; /* 白い線で囲む */
    padding: 10px; /* 内側の余白を追加 */
    display: block; /* ブロック要素にする */
    margin: 0 auto; /* 左右に自動的にマージンを追加して中央揃えにする */
  }

  #sidebar form p {
    margin-top: 10px; /* 上の余白を5px追加 */
    color: #fff;
  }
  .reset_condition {
    text-align: right; /* 右寄せにするためのスタイル */
  }

  .reset_condition_link {
    font-size:smaller;
    transition: all 0.2s; /* カーソルを合わせたときに変化するアニメーションを追加 */
    color: transparent;
    color: white;
    text-decoration: none; /* リンクの下線を消す */
    font-weight: normal; /* 初期は通常の太さ */
    /* 変化のアニメーションを追加 */
    transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;
  }
  
  .reset_condition_link:hover {
    font-weight: bold; /* カーソルを合わせた際に太字に */
  }

  .multi_condition {
    text-align: center; 
  }

  #searchButton {
    width: 50%; /* ボタンを親要素の50%に変更 */
    cursor: pointer; /* カーソルをポインタに変更 */
    transition: transform 0.3s ease-in-out; /* ホバー時のトランジションを追加 */
    display: block; /* ブロック要素にする */
    margin: 0 auto; /* 左右に自動的にマージンを追加して中央揃えにする */
    margin-top: 2vh;
    margin-bottom: 2vh;
    bottom: 0; /* 下部に配置 */
  }

  #searchButton:hover {
    transform: scale(1.2); /* ホバー時に画像を拡大 */
  }


  
  .popup-tittle {
    margin: 20px 0px;
    color: #00000070;
    font-size: x-large;
  }

  .popup-text {
    cursor: pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
    margin: 20px 0px;
    color: #00000070;
    font-size: large;
    transition: all 0.2s; /* カーソルを合わせたときに変化するアニメーションを追加 */
    text-decoration: none; /* リンクの下線を消す */
    font-weight: normal; /* 初期は通常の太さ */
    /* 変化のアニメーションを追加 */
    transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;
  }
  
  .popup-text:hover {
    font-weight: bold; /* カーソルを合わせた際に太字に */
  }



  .popup-text:not(:last-of-type) {
    margin-bottom: 1em
  }
  
  .popup-close {
    cursor: pointer;
    position: absolute;
    top: -26px;
    right: 0;
  }



  .serchresult {
    background: linear-gradient(to bottom, #000680ac, #1556c76b); /* 紫色の垂直方向グラデーション */
    color: white; /* テキストを白色に設定 */
    padding: 20px 20px 10px 20px;
    margin: 20px 0px 10px 10px;
    width: 100%;
  }

  .view_change_area{
    padding: 15px 0px;
    display: flex;
    justify-content: center; /* 横方向（メイン軸）を中央に寄せる */
    align-items: flex-start; /* 要素を上側に固定 */
  }


  .view_change_button {
    background: linear-gradient(to bottom, #87CEEB, #00BFFF); /* 水色のグラデーション */
    color: white; /* 文字色を白に設定 */
    font-weight: bold;
    border: none; /* ボーダーをなしに設定 */
    padding:5px 10px;
    margin: 0px 30px;
    font-size: large; /* フォントサイズを大きく設定 */
    cursor: pointer; /* カーソルをポインターに設定 */
    border-radius: 5px; /* 角丸を設定 */
    transition: background 0.3s ease; /* 背景色の変化にアニメーションを追加 */
}


.view_change_button:hover {
    background: linear-gradient(to bottom, #00BFFF, #87CEEB); /* ホバー時のグラデーション */
}


.count_edit_button {
  background: linear-gradient(to bottom, #8791eb, #005eff); /* 水色のグラデーション */
  color: white; /* 文字色を白に設定 */
  font-weight: bold;
  border: none; /* ボーダーをなしに設定 */
  padding:5px 10px;
  margin: 0px 30px;
  font-size: large; /* フォントサイズを大きく設定 */
  cursor: pointer; /* カーソルをポインターに設定 */
  border-radius: 5px; /* 角丸を設定 */
  transition: background 0.3s ease; /* 背景色の変化にアニメーションを追加 */
}

.count_edit_button:hover {
  background: linear-gradient(to bottom, #005eff, #8791eb); /* 水色のグラデーション */
}

.inner_text{
  font-weight:bolder;
  font-size:small;
}

  #main_sheet {
    opacity: 0;
    animation: late-open 0s ease-in 1.5s forwards;
    
  }
  
  /* late-open = display: block; */
  @keyframes late-open {
    to {
      opacity: 1;
    }
  }

  .sheet {
    display: flex;
    background-image: url('material/sheet.webp');
    background-size: cover; /* 画像を全体に広げる */
    background-position: center; /* 画像を中央に配置 */
    color: white; /* テキストを白色に設定（背景が画像の場合、見やすい色を選ぶと良い） */
    height: 280px;
    width: 100%;
    margin: 0px 0px 20px 0px;
  }

  .leftsheet {
    flex: 3; /* 左側の領域を伸縮可能にする */
    padding: 10px 0px; /* 適切な余白を追加 */
    justify-content: center; /* 左右中央に配置 */
  }

  .leftsheet img{
    height: 100%; /* 画像の高さを100%に */
    width: auto; /* 幅を自動調整 */
    max-width: 100%; /* 幅が親要素を超えないように */
    margin: 0 auto; /* 左右の余白を自動調整し、親要素の中央に配置 */
    display: block; /* 追加：余白を自動調整するために必要 */
  }

  .rightsheet {
    flex: 7; /* 右側の領域を伸縮可能にする */
    padding: 15px 0px 15px 0px; /* 適切な余白を追加 */
  }

  .rightsheet_name {
    font-size: large; /* フォントサイズをlargeに設定 */
    background: linear-gradient(to right, #0080FF , #00bbff80); /* 水色のグラデーション */
    display: inline; /* デフォルトはブロック要素なので、行内要素に変更 */
    padding: 5px; /* 適切な余白を追加 */
    font-weight: bold;
    height: 40px;
  }

  .rightsheet_tit {
    color: rgba(0, 0, 0, 0.493);
    padding-top: 5px;
    font-size:small;
    display: flex;
    align-items: center; /* 子要素を垂直方向に中央揃え */
    height: 50px;
    letter-spacing: -0.2em;
  }

  .rightsheet_form {
    font-size: large;
    font-weight: bold;
    background: linear-gradient(to right, #0080FF , #00bbff80); /* 文字色に近いグラデーション */
    -webkit-background-clip: text; /* テキストにのみ背景を適用する */
    color: transparent; /* テキストの色を透明にする */
    margin-left: 5px;
    letter-spacing: -0.1em;
  }

  .rightsheet_tit img {
    width: auto; /* ロゴの幅を調整 */
    margin-left: 10px; /* ロゴと文字列の間に余白を追加 */
    height: 100%; /* img要素の高さを親要素に合わせる */
  }

  .rightuppersheet {
    display: flex;
    align-items: center;
    height: 35px;
    margin: 15px 0px 0px 20px;
  }

  .rightuppersheet img {
    height: 100%; /* 親要素と同じ高さに設定 */
    margin-right: 40px; /* 画像の右に余白を追加 */
  }

  .rightbottomsheet {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 50px;
    margin: 15px 15px 0px 0px;
  }

  .rightbottomsheet img {
    height: 100%; /* 親要素と同じ高さに設定 */
    margin-right: 60px; /* 画像の右に余白を追加 */
  }

  
  .rightbottomsheet_button {
    background: linear-gradient(to right, #FFD700, #FFA500);
    color: white;
    font-weight: bold;
    border-color: #FFA500;
    padding: 5px 5px;
    margin-right: 20px;
    font-size: large;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* box-shadowのアニメーションを追加 */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* 影の設定 */
  }

  .rightbottomsheet_button:hover {
      transform: scale(1.1);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.602); /* 影の設定 */
  }

.serchresult_image {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.image-result-form{
  width: calc(33.3333% - 20px); /* 画像の横幅に合わせて調整し、間隔も考慮 */
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.image-result-form img {
  width: 100%;
  height: auto;
  transition: all 0.2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.image-result-form img:hover {
  transform: scale(1.1);
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.7);
}

.account {
  background: linear-gradient(to bottom, #ffffffdd, #ffffff86); /* 白色の垂直方向グラデーション */
  color: rgb(108, 107, 107); 
  margin: 20px 0px 20px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 上下方向の中央寄せ */
  align-items: center; /* 左右方向の中央寄せ */
  height: 100vh; /* 画面の高さいっぱいに広がるように設定 */
}

.account_box {
  width: 50%; /* 適切なサイズに設定 */
  height: 100%; /* 適切なサイズに設定 */
  display: flex;
  align-items: center; /* 上下方向の中央寄せ */
  justify-content: center; /* 左右方向の中央寄せ */
}

.form_tittle {
  text-align: center; /* テキストの中央寄せ */
  font-size: xx-large;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}

.form-label {
  text-align: left;
  margin: 10px 0px;
}

.form-text {
  text-align: left;
  font-size: x-large;
  margin-bottom: 20px;
}


.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin: 10px 0px;
}

.login_button {
  text-align: center; /* テキストの中央寄せ */
  margin: 20px auto;
}

.logout {
  text-align: center; /* テキストの中央寄せ */
  font-size: x-large;
  width: 100%;
}

.build {
  background: linear-gradient(to bottom, #0041f3bb, #0563f090); /* 白色の垂直方向グラデーション */
  color: rgb(108, 107, 107); 
  margin: 20px 0px 20px 0px;
  padding: 10px;
  width: calc(100% -20px);
  display: flex;
  flex-direction: column;
  justify-content: center; /* 上下方向の中央寄せ */
  align-items: center; /* 左右方向の中央寄せ */
  height: 100vh; /* 画面の高さいっぱいに広がるように設定 */
}


.card_area{
  width: 100%;
}

.index_bar{
  display: flex;
  justify-content: space-between; /* 子要素を両端に配置 */
  align-items: center; /* 垂直方向に中央寄せ */
}

.index_delete_button {
  background: linear-gradient(to right, #ff000067, #ff00009e); /* 黄色のグラデーション */
  color: white; /* 文字色を白に設定 */
  font-weight: bold;
  border-color: #ff00009e;
  padding: 5px 10px; /* 適切なパディングを設定 */
  margin: 5px 40px;
  font-size:medium; /* フォントサイズを大きく設定 */
  cursor: pointer; /* カーソルをポインターに設定 */
  border-radius: 5px; /* 角丸を設定 */
  transition: background-color 0.3s ease; /* トランジション効果を追加 */
  &:hover {
    background-color: whitesmoke; /* マウスホバー時の背景色を白に変更 */
    color: #000000ae; /* マウスホバー時の文字色を黒に変更 */
  }
}

.deckalert{
  font-weight: bold;
  font-size: x-large;
  color: white;
}
.cardsheet {
  width: 50%;
}

.deckindex {
  font-weight: bold;
  font-size: x-large;
  color: white;
  margin-left: 10px;
}

.decksheet {
  display: flex;
  background-image: url('material/sheet.webp');
  background-size: cover; 
  background-position: center; 
  color: white; /* テキストを白色に設定（背景が画像の場合、見やすい色を選ぶと良い） */
  height: 200px;
  margin: 0px 10px 10px 10px;
}

.decksheet_none {
  display: flex;
  color: white; /* テキストを白色に設定（背景が画像の場合、見やすい色を選ぶと良い） */
  height: 200px;
  margin: 0px 10px 10px 10px;
  border: 2px dashed white;
}

.decksheet_none_text {
  margin: 50px 0px 0px 50px;
  font-weight: bold;
  font-size: large;
}

.decknone_button {
  background: linear-gradient(to right, #9d00ff8b, #c300ffcb); /* 黄色のグラデーション */
  color: white; /* 文字色を白に設定 */
  font-weight: bold;
  border-color: #c300ffcb;
  padding: 10px; /* 適切なパディングを設定 */
  margin: 20px 0px;
  font-size:medium; /* フォントサイズを大きく設定 */
  cursor: pointer; /* カーソルをポインターに設定 */
  border-radius: 5px; /* 角丸を設定 */
  transition: all 0.3s;
}

.deckleftsheet {
  flex: 3; /* 左側の領域を伸縮可能にする */
  padding: 10px; /* 適切な余白を追加 */
  justify-content: center; /* 左右中央に配置 */
}

.deckleftsheet img{
  height: auto;
  width: 100%;
  max-height: 100%;
  margin: auto; /* 左右の余白を自動調整し、親要素の中央に配置 */
  display: block; /* 追加：余白を自動調整するために必要 */
}

.deckrightsheet {
  flex: 9; /* 右側の領域を伸縮可能にする */
  padding: 15px 0px 10px 0px; /* 適切な余白を追加 */
}

.deckrightsheet_name {
  font-size: large; /* フォントサイズをlargeに設定 */
  background: linear-gradient(to right, #0080FF , #00bbff80); /* 水色のグラデーション */
  display: inline; /* デフォルトはブロック要素なので、行内要素に変更 */
  padding: 5px; /* 適切な余白を追加 */
  font-weight: bold;
  height: 40px;
  letter-spacing: -0.1em;
}

.deckrightsheet_tit {
  color: rgba(0, 0, 0, 0.493);
  padding: 12px 0px 5px 0px;
  font-size:small;
  display: flex;
  align-items: center; /* 子要素を垂直方向に中央揃え */
  height: 10px;
}

.deckrightsheet_form {
  font-size:medium;
  font-weight: bold;
  background: linear-gradient(to right, #0080FF , #00bbff80); /* 文字色に近いグラデーション */
  -webkit-background-clip: text; /* テキストにのみ背景を適用する */
  color: transparent; /* テキストの色を透明にする */
  margin-left: 5px;
  height: 20px;
  letter-spacing: -0.2em;
  display: flex;
  align-items: center;
  }

.deckrightsheet_form img {
  /* width: auto; ロゴの幅を調整 */
  margin-left: 10px; /* ロゴと文字列の間に余白を追加 */
  height: 170%; /* img要素の高さを親要素に合わせる */
}

.deckrightsheet_bottom {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 10px 0px 0px 30px;
}

.deckrightsheet_bottom img {
  height: 100%; /* 親要素と同じ高さに設定 */
  margin-right: 40px; /* 画像の右に余白を追加 */
}

.exchange_button {
  background: linear-gradient(to right, #00ffff56, #00ffffaf); /* 黄色のグラデーション */
  color: white; /* 文字色を白に設定 */
  font-weight: bold;
  border-color: #00ffffb1;
  padding: 5px 5px; /* 適切なパディングを設定 */
  margin: 5px 0px;
  font-size:medium; /* フォントサイズを大きく設定 */
  cursor: pointer; /* カーソルをポインターに設定 */
  border-radius: 5px; /* 角丸を設定 */
  transition: background-color 0.3s ease; /* トランジション効果を追加 */
  &:hover {
    background-color: whitesmoke; /* マウスホバー時の背景色を白に変更 */
    color: #000000ae; /* マウスホバー時の文字色を黒に変更 */
  }
}

.form_area {
  display: flex;
  flex-direction: column; /* 子要素を縦方向に配置 */
  align-items: center; /* 子要素を中央に揃える */
  color: white; /* フォントカラーを白に設定 */
  align-items: center;
  text-align: center;
}

.form_area form {
  font-size: large; /* フォントサイズをlargeに設定 */
  margin-top: 20px;
}

.form_area a {
  color: white; /* リンクの文字色を白に設定 */
  font-size: medium;
  padding: 5px 0px 0px 110px; 
  transition: all 0.2s; /* カーソルを合わせたときに変化するアニメーションを追加 */
}

.form_area a:hover {
  font-weight: bold; /* カーソルを合わせたときにフォントウェイトを太くする */
}

.bgm_area {
  margin: 20px 50px 0px 0px;
  display: flex;
  justify-content: center; /* 子要素を横方向に中央に揃える */
  align-items: center; /* 子要素を縦方向に中央に揃える */
}

.bgm_tittle {
  text-align: center; /* テキストの中央寄せ */
  font-size: xx-large;
  width: 100%;
  margin: 40px 0px 20px 0px;
}

.bgm_table_area {
  background: linear-gradient(to bottom, #ffffffdd, #ffffff86); /* 白色の垂直方向グラデーション */
  color: rgb(108, 107, 107); 
  margin: 20px 0px 20px 0px;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 上下方向の中央寄せ */
  align-items: center; /* 左右方向の中央寄せ */
}

table {
  border-collapse: collapse;
  width: 50%;
}

td {
  border: 1px solid black;
  padding: 5px 10px; /* セル内の余白 */
}

.bgm_edit_button {
  text-align: center; /* テキストの中央寄せ */
  padding: 0px 5px;
}

.decksave_button {
  background: linear-gradient(to right, #ffd90072, #FFA500); /* 黄色のグラデーション */
  color: white; /* 文字色を白に設定 */
  font-weight: bold;
  border-color: #FFA500;
  padding: 10px; /* 適切なパディングを設定 */
  margin: 30px 0px;
  font-size:medium; /* フォントサイズを大きく設定 */
  cursor: pointer; /* カーソルをポインターに設定 */
  border-radius: 5px; /* 角丸を設定 */
  transition: all 0.3s;
}

.decksave_button:hover {
  transform: scale(1.1);
}

.white_bg{
  background: linear-gradient(to bottom, #ffffffdd, #ffffff86); /* 白色の垂直方向グラデーション */
  color: rgb(108, 107, 107); 
  margin: 20px 0px 20px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 上下方向の中央寄せ */
  align-items: center; /* 左右方向の中央寄せ */
  height: 100vh; /* 画面の高さいっぱいに広がるように設定 */
}

.white_bg_box {
  width: 50%; /* 適切なサイズに設定 */
  height: 100%; /* 適切なサイズに設定 */
  text-align: center;
}

.white_tittle {
  font-size: xx-large;
  width: 100%;
  margin: auto;
  margin: 120px 0px;
}

.white_link {
  font-size: large;
  transition: all 0.2s; /* カーソルを合わせたときに変化するアニメーションを追加 */
  color: transparent;
  color: rgb(108, 107, 107);
  text-decoration: none; /* リンクの下線を消す */
  font-weight: normal; /* 初期は通常の太さ */
  /* 変化のアニメーションを追加 */
  transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;
}

.white_link:hover {
  font-weight: bold; /* カーソルを合わせた際に太字に */
}

.view_bg{
  background: linear-gradient(to bottom, #620080a9, #9d15c76b); /* 白色の垂直方向グラデーション */
  color: rgb(108, 107, 107); 
  margin: 20px 0px 20px 0px;
  padding: 10px;
  width: calc(100% -20px);
}

.view_conf_bg{
  background: linear-gradient(to bottom, #2ec7f19b, #bcdfefdd); /* 白色の垂直方向グラデーション */
  padding: 10px 5px;
  margin: 30px 0px;
  width: calc(100% -20px);
}

.deckindex_bgm {
  display: flex;
  justify-content: space-between; /* 子要素を両端に配置 */
  align-items:flex-end; /* 垂直方向に中央寄せ */
}

.deck_bgm_box {
  display: flex;
  justify-content: flex-end;
}

.deckindex {
  font-weight: bold;
  font-size: x-large;
  color: white;
  margin-left: 10px;
}

.deckbgm {
  font-weight: bold;
  font-size: large;
  color: white;
  margin-right: 50px;
}

.conf_form_area {
  display: flex;
  flex-direction: column; /* 子要素を縦方向に配置 */
  align-items: center; /* 子要素を中央に揃える */
  color: white; /* フォントカラーを白に設定 */
  align-items: center;
  text-align: center;
  padding-top: 50px;
}

.conf_save_button {
  background: linear-gradient(to right, #ffd90072, #FFA500); /* 黄色のグラデーション */
  color: white; /* 文字色を白に設定 */
  font-weight: bold;
  border-color: #FFA500;
  padding: 15px; /* 適切なパディングを設定 */
  font-size:medium; /* フォントサイズを大きく設定 */
  cursor: pointer; /* カーソルをポインターに設定 */
  border-radius: 5px; /* 角丸を設定 */
  transition: all 0.3s;
}

.conf_save_button:hover {
  transform: scale(1.1);
}

.conf_delete_button {
  background: linear-gradient(to right, #ff000067, #ff00009e); /* 黄色のグラデーション */
  color: white; /* 文字色を白に設定 */
  font-weight: bold;
  border-color: #ff00009e;
  padding: 15px; /* 適切なパディングを設定 */
  font-size:medium; /* フォントサイズを大きく設定 */
  cursor: pointer; /* カーソルをポインターに設定 */
  border-radius: 5px; /* 角丸を設定 */
  transition: all 0.3s;
}

.conf_delete_button:hover {
  transform: scale(1.1);
}

.conf_back_button {
  background: linear-gradient(to right, #1ad3f867, #19afff9e); /* 黄色のグラデーション */
  color: white; /* 文字色を白に設定 */
  font-weight: bold;
  border-color: #00a6ff9e;
  padding: 5px 10px; /* 適切なパディングを設定 */
  margin: 40px 0px;
  font-size:medium; /* フォントサイズを大きく設定 */
  cursor: pointer; /* カーソルをポインターに設定 */
  border-radius: 5px; /* 角丸を設定 */
  transition: background-color 0.3s ease; /* トランジション効果を追加 */
  &:hover {
    background-color: whitesmoke; /* マウスホバー時の背景色を白に変更 */
    color: #000000ae; /* マウスホバー時の文字色を黒に変更 */
  }
}

.deck_area{
  background: linear-gradient(to bottom, #c192fbbb, #711cf090); /* 白色の垂直方向グラデーション */
  padding: 10px;
}

.command_bar{
  display: flex;
  justify-content: flex-end; /* 子要素を右寄せに配置 */
  align-items: center; /* 垂直方向に中央寄せ */
}

.view_edit_button {
  background: linear-gradient(to right, #ffc80067, #ffdd009e); /* 黄色のグラデーション */
  color: white; /* 文字色を白に設定 */
  font-weight: bold;
  border-color: #ffdd009e;
  padding: 5px 10px; /* 適切なパディングを設定 */
  margin: 0px 40px 0px 0px;
  font-size:medium; /* フォントサイズを大きく設定 */
  cursor: pointer; /* カーソルをポインターに設定 */
  border-radius: 5px; /* 角丸を設定 */
  transition: background-color 0.3s ease; /* トランジション効果を追加 */
  &:hover {
    background-color: whitesmoke; /* マウスホバー時の背景色を白に変更 */
    color: #000000ae; /* マウスホバー時の文字色を黒に変更 */
  }
}

.view_delete_button {
  background: linear-gradient(to right, #ff000067, #ff00009e); /* 黄色のグラデーション */
  color: white; /* 文字色を白に設定 */
  font-weight: bold;
  border-color: #ff00009e;
  padding: 5px 10px; /* 適切なパディングを設定 */
  margin: 0px 20px 0px 0px;
  font-size:medium; /* フォントサイズを大きく設定 */
  cursor: pointer; /* カーソルをポインターに設定 */
  border-radius: 5px; /* 角丸を設定 */
  transition: background-color 0.3s ease; /* トランジション効果を追加 */
  &:hover {
    background-color: whitesmoke; /* マウスホバー時の背景色を白に変更 */
    color: #000000ae; /* マウスホバー時の文字色を黒に変更 */
  }
}

.none_text {
  text-align: center; /* テキストの中央寄せ */
  font-size: large;
  width: 100%;
  margin: auto;
  color: white;
}

.none_link {
  font-size: large;
  transition: all 0.2s; /* カーソルを合わせたときに変化するアニメーションを追加 */
  color: transparent;
  color: white;
  text-decoration: none; /* リンクの下線を消す */
  font-weight: normal; /* 初期は通常の太さ */
  /* 変化のアニメーションを追加 */
  transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;
}

.none_link:hover {
  font-weight: bold; /* カーソルを合わせた際に太字に */
}