/* リセットスタイル */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    margin: 0; /* ブラウザのデフォルトのmarginを削除 */
    padding: 0; /* ブラウザのデフォルトのpaddingを削除 */
    background-image: url('space.png'); /* 画像のファイルパスを指定 */
    background-size: cover; /* 画像をカバーするように調整 */
    background-position: center; /* 画像を中央に配置 */
    background-repeat: no-repeat; /* 画像の繰り返しを無効にする */
    height: 100vh; /* 画面の高さいっぱいに広げる */
    background-attachment: fixed; /* 背景画像を固定する */
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto; /* ページを中央に寄せる */
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.logo {
    display: flex; 
    justify-content: space-between; 
    padding: 2% 0%;
}

.logo_image a:hover img {
    transform: scale(1.1); /* ホバー時に画像を拡大 */
    transition: transform 0.3s ease-in-out; /* ホバー時のトランジションを追加 */
  }

.username {
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: center; 
    font-size: 20px; 
    padding-bottom: 30px; 
    color: white; 
    font-weight: bold;"
}

#mainNav {
    background: linear-gradient(to bottom, #4fc2f796, #2195f3c5); /* 垂直方向の水色のグラデーション */
    margin: 0 auto; /* メニューバーを水平方向に中央寄せ */
    height: 50px;
    display: flex; /* 水平方向に flex コンテナにする */
    align-items: center; /* 垂直方向に中央寄せ */
}

#mainNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; /* 垂直方向に中央寄せ */
    width: 100%; /* 親要素に対して子要素を100%で広げる */
}

#mainNav li {
    display: inline;
    flex: 1; /* ボタンを均等に広げる */
}

#mainNav a {
    text-decoration: none;
    color: #fff;
    font-size:large;
    padding: 5px 10px;
    display: block;
    text-align: center; /* テキストを中央寄せ */
}

#mainNav a:hover {
    background-color: #6149ce;
    margin: 0 10%;
}


#mainNav li:not(:last-child) {
    border-right: 1px solid #fff; /* メニュー同士の仕切り線 */
}

#footer {
    background-color: #00000095; /* 背景色を黒に設定 */
    padding: 1% 10%; /* 適切なパディングを追加 */
  }

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* 画像を中央に配置 */
  }

  #footer img {
    margin: 0 1%; /* 画像間の余白を設定 */
    transition: transform 0.3s ease-in-out; /* ホバー時のトランジションを追加 */
  }

  #footer img:hover {
    transform: scale(1.2); /* ホバー時に画像を拡大 */
  }

  #sidebar {
    background: linear-gradient(to bottom, #620080a9, #9d15c76b); /* 紫色の垂直方向グラデーション */
    padding: 20px 10px 10px 10px; /* 全方位に10pxのパディングを追加 */
    margin: 20px 10px 10px 0px;
  }

  #sidebar h3 {
    color: white;
    font-size: large;
    text-align: center; /* テキストを中央揃えにする */
    border: 2px solid white; /* 白い線で囲む */
    padding: 10px; /* 内側の余白を追加 */
    display: block; /* ブロック要素にする */
    margin: 0 auto; /* 左右に自動的にマージンを追加して中央揃えにする */
  }

  #sidebar form p {
    margin-top: 10px; /* 上の余白を5px追加 */
    color: #fff;
  }

  #searchButton {
    width: 50%; /* ボタンを親要素の50%に変更 */
    cursor: pointer; /* カーソルをポインタに変更 */
    transition: transform 0.3s ease-in-out; /* ホバー時のトランジションを追加 */
    display: block; /* ブロック要素にする */
    margin: 0 auto; /* 左右に自動的にマージンを追加して中央揃えにする */
    margin-top: 2vh;
    margin-bottom: 2vh;
    bottom: 0; /* 下部に配置 */
  }

  #searchButton:hover {
    transform: scale(1.2); /* ホバー時に画像を拡大 */
  }

  .serchresult {
    background: linear-gradient(to bottom, #000680ac, #1556c76b); /* 紫色の垂直方向グラデーション */
    color: white; /* テキストを白色に設定 */
    padding: 20px 20px 10px 20px;
    margin: 20px 0px 10px 10px;
    width: 100%;
  }



  .sheet {
    display: flex;
    background-image: url('sheet.jpeg');
    background-size: cover; /* 画像を全体に広げる */
    background-position: center; /* 画像を中央に配置 */
    color: white; /* テキストを白色に設定（背景が画像の場合、見やすい色を選ぶと良い） */
    height: 280px;
    width: 100%;
    margin: 0px 0px 20px 0px;
  }

  .leftsheet {
    flex: 3; /* 左側の領域を伸縮可能にする */
    padding: 10px; /* 適切な余白を追加 */
    justify-content: center; /* 左右中央に配置 */
  }

  .leftsheet img{
    height: 100%; /* 画像の高さを100%に */
    width: auto; /* 幅を自動調整 */
    max-width: 100%; /* 幅が親要素を超えないように */
    margin: 0 auto; /* 左右の余白を自動調整し、親要素の中央に配置 */
    display: block; /* 追加：余白を自動調整するために必要 */
  }

  .rightsheet {
    flex: 7; /* 右側の領域を伸縮可能にする */
    padding: 15px; /* 適切な余白を追加 */
  }

  .rightsheet_name {
    font-size: large; /* フォントサイズをlargeに設定 */
    background: linear-gradient(to right, #0080FF , #00ffff80); /* 水色のグラデーション */
    display: inline; /* デフォルトはブロック要素なので、行内要素に変更 */
    padding: 5px; /* 適切な余白を追加 */
    font-weight: bold;
    height: 40px;
  }

  .rightsheet_tit {
    color: rgba(0, 0, 0, 0.493);
    padding-top: 5px;
    font-size:small;
    display: flex;
    align-items: center; /* 子要素を垂直方向に中央揃え */
    height: 50px;
  }

  .rightsheet_form {
    font-size: large;
    font-weight: bold;
    background: linear-gradient(to right, #0080FF , #00ffff); /* 文字色に近いグラデーション */
    -webkit-background-clip: text; /* テキストにのみ背景を適用する */
    color: transparent; /* テキストの色を透明にする */
    margin-left: 5px;
  }

  .rightsheet_tit img {
    width: auto; /* ロゴの幅を調整 */
    margin-left: 10px; /* ロゴと文字列の間に余白を追加 */
    height: 100%; /* img要素の高さを親要素に合わせる */
  }

  .rightuppersheet {
    display: flex;
    align-items: center;
    height: 35px;
    margin-top: 15px;
  }

  .rightuppersheet img {
    height: 100%; /* 親要素と同じ高さに設定 */
    margin-right: 40px; /* 画像の右に余白を追加 */
  }

  .rightbottomsheet {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 50px;
    margin: 15px 15px 0px 0px;
  }

  .rightbottomsheet img {
    height: 100%; /* 親要素と同じ高さに設定 */
    margin-right: 60px; /* 画像の右に余白を追加 */
  }

  
  .rightbottomsheet_button {
    background: linear-gradient(to right, #FFD700, #FFA500); /* 黄色のグラデーション */
    color: white; /* 文字色を白に設定 */
    font-weight: bold;
    border-color: #FFA500;
    padding: 5px 10px; /* 適切なパディングを設定 */
    font-size: large; /* フォントサイズを大きく設定 */
    cursor: pointer; /* カーソルをポインターに設定 */
    border-radius: 5px; /* 角丸を設定 */
    transition: transform 0.3s ease; /* transformのアニメーションを追加 */
  }

  .rightbottomsheet_button:hover {
    transform: scale(1.1); /* カーソルが合ったときに1.1倍に拡大 */
}