<div class='build'>
  <div class='deckalert'></div>
  <div class = 'card_area' style='display: flex; justify-content;'>
    <div class='cardsheet'>
      <div class = 'index_bar'>
        <div class = 'deckindex'><i class='fa-solid fa-square-caret-right'></i> 1枚目
        </div>
        <form action='mode1.php' method='get'>
          <button class='index_delete_button' type='submit' name='sub'>
            削除
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </form>
      </div>
      ★1枚目★
    </div>
    <div class='cardsheet'>
      <div class = 'index_bar'>
        <div class = 'deckindex'><i class='fa-solid fa-square-caret-right'></i> 2枚目
        </div>
        <form action='mode2.php' method='get'>
          <button class='index_delete_button' type='submit' name='sub'>
            削除
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </form>
      </div>
      ★2枚目★
    </div>
  </div>
  <div class = 'exchange'>
    <form action='change.php' method='get'>
      <button class='exchange_button' type='submit' name='sub'>
        順番を入れかえる
        <i class="fa-solid fa-rotate"></i>
      </button>
    </form>
  </div>
  <div class='form_area'>
    <form action='confirm.php' method='get'>
      <div><i class="fa-solid fa-tags"></i> デッキ名 :<input id="textbox" type="text" name="deck_name" placeholder="入力してください" value="★初期値★" size="30">
      </div>
      <div class = 'bgm_area' style='display: flex; justify-content;'>
        <div><i class="fa-solid fa-music"></i> BGM :</div>
          <select id="bgmSelect" name="bgm" >
            <option value="">選択してください</option>
            ★bgmリスト★
          </select>
        </div>
      <p><a href="bgm.php">BGMの 登録・編集・削除 はこちら<i class="fa-solid fa-angles-right"></i></a></p>
      <button class='decksave_button' type='submit' name='sub'>
        デッキを保存する
        <i class="fa-solid fa-circle-arrow-right"></i>
      </button>
      <input type='hidden' name='deck_id' value='★デッキid★'>
    </form>
  </div>
</div>

<script>
  document.getElementById('textbox').addEventListener('input', function () {
      var textboxValue = document.getElementById('textbox').value;
      // Ajaxを使用してPHPに値を送信
      $.ajax({
          type: 'POST',
          url: 'set_session.php',
          data: { textbox_value: textboxValue },
          success: function(response) {
              console.log(response); // コンソールにPHPからの応答を表示
          }
      });
  });

  document.getElementById('bgmSelect').addEventListener('change', function () {
    var bgm_value = document.getElementById('bgmSelect').value;
    // Ajaxを使用してPHPに値を送信
    $.ajax({
        type: 'POST',
        url: 'set_session.php',
        data: { bgm_value: bgm_value },
        success: function(response) {
            console.log(response); // コンソールにPHPからの応答を表示
        }
    });
  });

</script>