<footer id="footer">
	<div class="inner">
  	<a href="https://dcd-ultraman.com/"><img src="material/img_ogp.jpg" width=50%></a>
		<a href="https://play.google.com/store/apps/details?id=com.bandai.ultramanbinder&hl=en_US"><img src="material/img_apri.png" width="50%"></a>
		<a href="https://imagination.m-78.jp/"><img src="material/img_ti.jpg" width="50%"></a>
	</div>
</footer>
</body>
</html>