<div class="image-overlay-form">
  <form action="search.php" method="post";>
    <input type="hidden" name="fortune" value="★card_id★">
    <button type="submit" style="border: none; padding: 0; background: none; cursor: pointer;">
      <img src="★image★" alt="Jump">
    </button>
  </form>
</div>