<!DOCTYPE html>
<html dir="ltr" lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
  <title>ウルトラマン フュージョンファイト！ ウルトラファイル 専用サイト</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" href="style.css" type="text/css" media="screen">
  <!--[if lt IE 9]>
  <script src="js/html5.js"></script>
  <script src="js/css3-mediaqueries.js"></script>
  <![endif]-->

  <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
  <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
  <script src="https://kit.fontawesome.com/73d230a992.js" crossorigin="anonymous"></script>
</head>

<body>
<header id="header">
  <div>
    <!-- ロゴ -->
    <div class="logo">
      <div class="logo_image">
        <a href="index.php" style="display: flex; align-items: center;">
          <img src="material/bnr_ultrafile.webp" width="30%">
          <img src="material/tittle.webp" width="20%">
        </a>
      </div>
      <div class="username"><a href="account.php"  class="username_link" ><i class="fa-solid fa-user"></i> ようこそ、★ユーザー名★ さん  <i class="fa-solid fa-exclamation"></i></a></div>
    </div>
    <!-- / ロゴ -->
    <!-- メインナビゲーション -->
    <nav id="mainNav">
      <ul>
        <li class="active"><a href="search.php"><strong><img src='material\icon_dec.webp' class='nav-icon'>カード検索</strong></a></li>
        <li><a href="build.php"><strong><img src='material\icon_dec.webp' class='nav-icon'>デッキ作成</strong></a></li>
        <li><a href="view.php"><strong><img src='material\icon_dec.webp' class='nav-icon'>デッキ確認</strong></a></li>
        <li class="last"><a href="account.php"><strong><img src='material\icon_dec.webp' class='nav-icon'>アカウント</strong></a></li>
      </ul>
    </nav>
    <!-- / メインナビゲーション -->
  </div>
</header>
