<!-- メインコンテンツ -->
<div class = "conte">

  <div class = "top_image">
    <img src="material/top_image.png" class="top_conte">
    <div class="text-overlay1">
      <p>アプリ版フュージョンファイトを<br>遊びつくそう！</p>
    </div>
  </div>

  <div class = "top_image">
    <img src="material/top2_image.png" alt="Top Image">
    <div class="text-overlay2">
      <p><img src="material/icon_tri.png" class='top-icon'>画面のバーコードを読み込んで遊べる !</p>
      <p><img src="material/icon_tri.png" class='top-icon'>UD3弾までのカードを250種類以上収録 !</p>
      <p><img src="material/icon_tri.png" class='top-icon'>条件のしぼり込みで簡単検索 !</p>
      <p><img src="material/icon_tri.png" class='top-icon'>お気に入りのデッキを保存しよう !</p>
    </div>
  </div>

  <div class = "top_image3">
    <img src="material/top3_image.png" alt="Top Image">
    <div class="image-overlay">
      <img src="material/icon_z_og.png" class='fortune-icon'>今日のラッキーカードはこちら<img src="material/icon_z_og.png" class='fortune-icon'>
      <div class="image-overlay-child">
        ★image_script★
      </div>
    </div>
  </div>

</div>
<!-- /メインコンテンツ -->

