<div id="wrapper" style="display: flex; justify-content;">

	<script>
			// ドキュメントが読み込まれた後に実行
			document.addEventListener('DOMContentLoaded', function () {
					// リンク要素を取得
					var resetLink = document.querySelector('.reset_condition_link');

					// リンクがクリックされたときの処理
					resetLink.addEventListener('click', function (event) {
							// デフォルトの動作をキャンセル
							event.preventDefault();

							// 非同期通信を行う
							var xhr = new XMLHttpRequest();
							xhr.open('GET', 'unset_session_sql.php', true); // unset_session_sql.phpは$_SESSION['sql']をunsetするPHPファイルへのパスに置き換えてください
							xhr.onload = function () {
									if (xhr.status >= 200 && xhr.status < 300) {
											// 成功時の処理: search.phpに遷移
											window.location.href = 'search.php';
									} else {
											// エラー時の処理
											console.error('非同期通信エラー:', xhr.statusText);
									}
							};
							xhr.onerror = function () {
									console.error('非同期通信エラー:', xhr.statusText);
							};
							xhr.send();
					});
			});
	</script>

	<div>
		<aside id="sidebar">
			<h3 class="heading">検索条件を指定</h3>
			<form action="search.php" method="get">
				<p class = 'reset_condition'><a href="search.php"  class = 'reset_condition_link'><i class="fa-solid fa-circle-xmark"></i> 検索条件をリセット</a></p>
				<p>キャラクター</p>
				<select name="name_id">
					<option value="">選択してください</option>
					★name★
				</select>
				<p>形態</p>
				<select name="form">
					<option value="">選択してください</option>
					★form★
				</select>
				<p>技</p>
				<select name="climax">
					<option value="">選択してください</option>
					<option value="1">クライマックス技</option>
				</select>
				<p>分類</p>
				<select name="type_id">
					<option value="">選択してください</option>
					★type★
				</select>
				<p>作品</p>
				<select name="prog_id">
					<option value="">選択してください</option>
					★prog★
				</select>
				<p>レアリティ</p>
				<select name="rare_id">
					<option value="">選択してください</option>
					★rare★
				</select>
				<p>フリーワード検索</p>
				<input type="text" name="text" size="40" value="" placeholder="キーワードを入力してください" >
				<br>
				<input type="image" src="material/card_search.png" alt="検索する" id="searchButton">
			</form>
		</aside>
	</div>

